<div class="uploader-wrapper">
	<div class="container">
		<div class="row">
			<div class="uploader col-xs-12 col-xl-8 col-xl-offset-2">
				<div class="row">
					<div class="col-xs-12 col-md-6 end-md">
						<label for="singleFile" class="btn btn--default btn--lg">Upload File(s)</label>
						<input type="file" id="singleFile" name="singleFile" multiple />

						<label for="multipleFile" class="btn btn--default btn--lg">Upload Folder</label>
						<input type="file" id="multipleFile" class="btn btn--default" multiple webkitdirectory mozdirectory directory />
					</div>
					<div class="col-xs-12 col-md-6 drag-and-drop start-md">
						<span class="bold uppercase">or</span> Drag And Drop file(s) here
					</div>
				</div>
			</div>
		</div>
	</div>
</div>