@import './reset';
@import './colors';
@import './fonts';
@import './links';
@import './buttons';
@import './inputs';

body {
	overflow-x: hidden;
	background: $l-key;
}

* {
	box-sizing: border-box;
}

.relative {
	position: relative;
}

.well {
	background: $white;
	border-radius: 4px;
}

main.well {
	margin-top: -2rem;
	position: relative;
	z-index: 2;
	padding: 1rem;
}

@media (min-width: 480px) {
	main.well {
		padding: 2rem;
	}
}

//SVG ANIMATION
#notes {
	opacity: 0;
}