$d-key: #37586e;
$key: #6fc1eb;
$l-key: #dbeaf4;

$complementary: #baea27;

$white: #faf9f7;
$black: #2e2e33;

$audio: #eba14b;
$image: #97d769;
$archive: #af8ce9;
$video: #dbd652;
$text: #6ca7d0;
$other: #dd7fc3;

$warning: #ffdd56;
$danger: #ff6582;