<header class="app-header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 center-xs col-sm-6 start-sm">
				<span class="logo">file uploader</span>
			</div>
			<div class="col-xs-12 center-xs col-sm-6 end-sm">
				<a class="link" href="https://github.com/theGolda/ngUploader" title="GitHub repository">Find this project on GitHub<svg viewBox="0 0 438.5 438.5">
						<title>GitHub repository</title>
						<desc>GitHub icon</desc>
						<use xlink:href="assets/svg/sprite.svg#github" />
					</svg>
				</a>
			</div>
		</div>
	</div>
</header>